<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <table th:fragment="job-listing" class="job-listing" th:each="job: ${jobs}">
        <tr th:each="mapEntry: ${job}" th:switch="${mapEntry.key}">
            <td th:text="${#strings.capitalizeWords(mapEntry.key)}"></td>
            <td th:case="'name'" th:text="${mapEntry.value}"></td>
            <td th:case="*"><a th:href="@{/list/jobs(column=${mapEntry.key},value=${mapEntry.value})}" th:text="${mapEntry.value}"></a></td>
        </tr>
    </table>

</div>

</body>
</html>